.gridContent{
    .grid{
        margin-top: 80px;
        padding: 0;
        width: 95vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-auto-rows: minmax(20px, 0px);
        justify-content: center;
        

        .Card{
            
            margin: 0;
            padding: 10px 10px;
            background-color: rgb(255, 255, 255);

        }
        .image{
            height: auto;
            margin: 0;
            padding: 0;
            display: grid;


            img{
                margin: 0;
                padding: 0;
                width: 100%;
                height: auto;
                border-radius: 16px;
                z-index: 0;
                
                
                
            }

            .Hover{
                position: absolute;
                border-radius: 16px;
                width: 230px;
                background-color: rgba(0, 0, 0, 0.5);
                display: block;
                cursor: zoom-in;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .headerTools{
                    margin-top: 5%;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 5%;
                    
                    .NameSiteSave{
                        cursor: pointer;
                        color: #fff;
                        padding: 14px 15px;
                        display: flex;

                        span{
                            margin-right: 10px;
                        }
                    }
                    
                    .SaveCardButton{
                        cursor: pointer;
                        background-color: #e60023;
                        color: #fff;
                        padding: 14px 15px;
                        border-radius: 24px;
                        min-width: 60px;
                    }
                    
                    .SaveCardButton:hover{
                        background-color: #ad081b;

                    }
                    
                }
                .footerTools{
                    margin-bottom: 10%;
                    display: flex;
                    justify-content: right;

                    .BtnTool{
                        height: 16px;
                        width: 16px;
                        padding: 8px;
                        background-color: rgba(255, 255, 255, 0.8);
                        border-radius: 50%;
                        margin-right: 4%;
                        cursor: pointer;
                    }
                    
                    .BtnTool:hover{
                        background-color: rgba(255, 255, 255, 0.9);

                    }

                }
            }

            .FooterCard{
                width: 230px;
                height: 50px;
                display: flex;
                align-items: center;

                background-color: rgb(255, 255, 255);
                
                .contentCard{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    cursor: pointer;
                    
                    .BtnProfile{
                        
                        img{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                        
                    }
                    
                    .NameProfile{
                        height: 30px;
                        margin-left: 5px;

                        a{
                            text-decoration: none;
                            color: inherit;
                            span{
                                font-weight: 400;

                            }
                        }
                       
                    }
                }

                .contentCard:hover{
                    text-decoration: underline;
                }
                
            }
        }
    }
}